

#toggleDropify {
  font-size: 12px;
  text-transform: uppercase;
  background: #DDD;
  color: #888;
  font-weight: bold;
  border: 0;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  #toggleDropify:hover {
    background: #EEE; }


